:root {
  font-family: "Abril Fatface", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  background-color: #faf0dc;

  --text-brown: #6b431f;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}
